<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light container">
    <a class="navbar-brand " [routerLink]="['/']"><img src="../../assets/nuevoLogo.PNG" height="40"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Inicio</a>
          </li>
        
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button id="btn-color" class="btn my-2 my-sm-0" type="submit">Buscar</button>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item " [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/UsuarioRegistro']"
              >Registrarme</a
            >
          </li>
        </ul>
      </form>
    </div>
  </nav>
</header>
